body {

 background-image: url("file:///Users/edmon/Documents/Workspace/cse120-2021-api/public/aua.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
 


}

div.item {
	content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #FFFAFA;
	float: left;
	margin: 10px;
	padding: 10px;
	position: relative;
  overflow-y: hidden;  
  cursor: pointer;
  border-radius: 10px;
  background-image: 
                    linear-gradient(175deg, rgba(0,0,0,0) 75%, #828282 85%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 59%, #878787 89%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #949494 80%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 56%, #a1a1a1 86%),
                    linear-gradient(175deg, rgba(0,0,0,0) 55%, #adadad 75%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 93%, #bababa 83%),
                    linear-gradient(175deg, rgba(0,0,0,0) 90%, #a8a8a8 70%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 90%, #a8a8a8 80%);
}



#pokerDataContainer div.item {

  color:#000;
  display:inline-block;
  padding:20px;
  margin:20px;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-6deg);
  position:relative;
  top:5px;


}

#pokerDataContainer div.item:hover{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
  text-decoration:none;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
}


#otherDataContainer {
  display: none;
  
}

div.item button {
  font-size: 10px;  
  font-family: "Sofia", sans-serif;
  border-radius: 10px 10px;
  padding: 10px;
  color: black;
  background-color:white;  
	position: absolute;
	bottom: 10px;
	right: 10px;
  cursor: pointer;
  border: 1px solid white;
}


div.item button:hover {
  border: 1px solid white;
  background-color: white;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  
}

div.item button.editButton {
	right: 70px;
}

span.item {
	line-height: 16px;
	font-size: 14px;
}

span.item b {
	margin-right: 10px;
}

span.undefined {
	color: red;
}

h1 {
 text-align: center; 
 color: #FAFAFA; 
  font-family: 'josefin sans';
    font-weight: 700;
        letter-spacing: .3em;
    text-transform: uppercase;
font-size: 56px;

    }

 
}
label {
color: white
}